django==4.1.7
pillow==9.2.0
psycopg2==2.9.5
django-crispy-forms==2.0
crispy_bootstrap5==0.7
pytest==7.1.2
pytest-django==4.5.2
asgiref==3.6.0
dj-database-url==2.0.0
Django==4.1.7
django-embed-video==1.4.8
django-heroku==0.3.1
gunicorn==20.1.0
Pillow==9.2.0
psycopg2==2.9.5
typing_extensions==4.5.0
tzdata==2022.7
whitenoise==6.4.0
