<header>
        <nav class="navbar sticky-top navbar-expand-md navbar-light" style="background-color: #444345">
            <a class="navbar-brand" href="{% url "home"%}"><i class="material-icons text-success">store</i></a>
            <button class="navbar-toggler bg-light" data-toggle="collapse" data-target="#navbar"><span class="navbar-toggler-icon"></span></button>
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item dropdown">
                        <a class="nav-link text-light text-uppercase font-weight-bold px-3 dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="">Categories</a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="">Category 1</a>
                            <a class="dropdown-item" href="">Category 2</a>
                            <a class="dropdown-item" href="">Category 3</a>
                            <a class="dropdown-item" href="">Category 4</a>
                            <a class="dropdown-item" href="">Category 5</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light text-uppercase font-weight-bold px-3" href="">Contacts</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light text-uppercase font-weight-bold px-3" href="{% url "about" %}">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light text-uppercase font-weight-bold px-3" href="{% url "product" %}">SMTH IN DEV</a>
                    </li>
                </ul>
                <form class="form-inline">
                    <div class="input-group">
                        <input type="" placeholder="Search">
                        <div>
                            <button class="btn-success"><i class="material-icons">search</i></button>
                        </div>
                    </div>
                </form>
            </div>
        </nav>
    </header>